body {
  background: #2a9d8f;

}

#wrapper {
  display: block;
  width: 364px;
  height: 420px;
  margin: 0 auto;
  margin-top:100px;
}

#screen {
  background: white;
  display: block;
  width: 364px;
  height: 147px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

}

#top-section {
  height: 40%;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 20px;
  
}

#bottom-section {
  height: 60%;
  font-size: 50px;
  text-align: right;
  padding-right: 10px;
}

.btn-wrapper {
  background: white;
  display: block;
  width: 364px;
  height: 330px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.btn {
  background: #6B6B6B;
  background: #264653;
  display: block;
  width: 45px;
  height: 20px;
  float: left;
  margin: 3px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  font-family: monospace, 'Courier New', Courier;
}

.btn:hover {
  cursor: pointer;
}

.op {
  background: #2b2d42;
}

.c, .ce {
  background: #e07a5f;
} 