body {
  background: green;

}

#wrapper {
  display: block;
  width: 364px;
  height: 420px;
  margin: 0 auto;
  margin-top:100px;
}

#screen {
  background: white;
  display: block;
  width: 100%;
  height: 35%;

}

.btn-wrapper {
  background: grey;
  display: block;
  width: 364px;
  height: 330px;
}

.btn {
  background: blue;
  display: block;
  width: 45px;
  height: 20px;
  float: left;
  margin: 3px;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.btn:hover {
  cursor: pointer;
}